<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-logger" version="0.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-logger</name>
    <js-module name="Logger" src="www/logger.js">
        <clobbers target="Logger" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="CDVLogger">
                <param name="ios-package" value="CDVLogger" />
            </feature>
        </config-file>
        <header-file src="src/ios/CDVLogger.h" />
        <source-file src="src/ios/CDVLogger.m" />
    </platform>
</plugin>